body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align: middle;
  box-shadow: 5px 5px 10px grey;
}

tr {
  border: 1px solid black;
}

td {
  width: 5vw;
  height: 5vh;
  border: 1px solid black;
  font-size: large;
  text-align: center;
}

th {
  width: 5vw;
  height: 5vh;
  border: 1px solid black;
  font-size: large;
  text-align: center;
  color: firebrick;
}

input {
  height: 100%;
  width: 100%;
  padding: 0;
  border: 0;
  font-size: large;
  text-align: center;
}

input:focus {
  border: 0;
}